<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.globaltester.sampleconfiguration.gtSampleConfigNature"
         name="GT SampleConfig Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.globaltester.sampleconfiguration.GtSampleConfigNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="org.globaltester.sampleconfig.contenttypes.SampleConfig"
            name="GlobalTester SampleConfig"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="SampleConfig">
            </parameter>
         </describer>
      </content-type>
   </extension>
</plugin>
