<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.globaltester.base.ui.newWizards.category"
            class="org.globaltester.sampleconfiguration.ui.wizards.NewSampleConfigWizard"
            icon="icons/sampleconfig.png"
            id="org.globaltester.sampleconfiguration.ui.wizards.newSampleConfigWizard"
            name="SampleConfiguration"
            project="true">
         <description>
            Create a new SampleConfiguration project.
         </description>
      </wizard>
   </extension>
</plugin>
