<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.globaltester.base.ui.newWizards.category"
            class="org.globaltester.sampleconfiguration.ui.wizards.NewSampleConfigWizard"
            icon="icons/sampleconfig.png"
            id="org.globaltester.sampleconfiguration.ui.wizards.newSampleConfigWizard"
            name="SampleConfiguration"
            project="true">
         <description>
            Create a SampleConfiguration project
         </description>
      </wizard>
   </extension>
<extension
      point="org.eclipse.ui.editors">
   <editor
         class="org.globaltester.sampleconfiguration.ui.SampleConfigEditor"
         icon="icons/sampleconfig.png"
         id="org.globaltester.sampleconfiguration.ui.SampleConfigEditor"
         name="GT SampleConfig Editor">
      <contentTypeBinding
            contentTypeId="org.globaltester.sampleconfiguration.ui.contenttypes.SampleConfiguration">
      </contentTypeBinding>
   </editor>
</extension>
<extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="gtconfig"
            id="org.globaltester.sampleconfiguration.ui.contenttypes.SampleConfiguration"
            name="GlobalTester SampleConfiguration"
            priority="normal">
      </content-type>
   </extension>
</plugin>
